# Created by https://www.toptal.com/developers/gitignore/api/python,venv,dotenv

### dotenv ###
.env

### Python ###
__pycache__/
*.py[cod]
*$py.class

*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# .python-version

# pipenv
# Pipfile.lock

# poetry
# poetry.lock
poetry.toml

# pdm
.pdm.toml

__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.spyderproject
.spyproject
.ropeproject
.idea/

# mkdocs
/site

# type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython
cython_debug/

# ruff
.ruff_cache/

# LSP
pyrightconfig.json

### venv ###
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

### DATA ###
data/raw/
data/processed/

# arquivos de dados grandes
*.csv
*.parquet
*.feather
*.h5
*.db